body {
  font-family: "Loto", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* ____________________shere______________________ */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 700px;
  padding: 15px 35px;
  cursor: pointer;
}
.section-titel {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* _______________nav related________________ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-titel {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
}
/* _______________header related________________ */
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.banner .banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner .banner-titel {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 30px;
}
.btn2 {
  margin-left: 30px;
  background: none;
  border: 2px solid #fd6e0a;
  color: #000;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn2:hover {
  margin-left: 30px;
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  color: #fff;
}
.btn1 {
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn1:hover {
  background: none;
  border: 2px solid #fd6e0a;
  color: #000;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  gap: 163px;
  justify-content: space-between;
}
.banner .profile {
  width: 500px;
}
/* ______________________________main_________________________ */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-bottom: 130px;
}

/* ______________________________about_________________________ */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
/* skills related css */

#what-i-do-description {
  margin: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
skill-description {
  color: #757575;
}
/* resume-section-style */

.resume-colume-titel {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 70px;
}
.resume-item-insttute {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.resume-item-titel {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-insttute,
.resume-item-description {
  color: #757575;
}
.resume-container hr {
  margin: 30px 0;
}
.cv {
  margin-top: 50px;
  color: #fff;
}
.download-cv {
  text-align: center;
}
/* footer styles */
footer {
  margin-top: 100px;
  gap: 100px;
  display: flex;
  background: #fff8f3;
  padding: 130px 200px;
}
.social-link a {
  margin-left: 20px;
}
footer .section-description {
  text-align: start;
}

.footer-column {
  width: 50%;
}
.contact .input,
textarea {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border: 0;
  border-radius: 5px;
}
